	@model LoginViewModel
@{
	ViewData["Title"] = "Index";
}

<div class="custom-container">
	<section id="">
		<!--form-->
		<div class="container">
			<div class="text-danger" asp-validation-summary="ModelOnly"></div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form">
						<!--login form-->
						<form asp-action="Login" asp-controller="Account">
							<div class="form-group">
								<label>Name</label>
								<input asp-for="UserName" class="form-control" />
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label>Password</label>
								<input asp-for="Password" class="form-control" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>

							<input type="hidden" asp-for="ReturnUrl" />
							<button class="btn btn-primary ml-4">Login</button>
							<a asp-action="Create" asp-controller="Account" class="btn btn-primary ml-1">Sign up</a>
						</form>
					</div><!--/login form-->
				</div>
			</div>
		</div>
	</section>
</div>
