@{
	Layout = "_LayoutAlphaShop";
}

<!-- Breadcrumb Start -->
<div class="container-fluid" >
	<div class="row px-xl-5">
		<div class="col-12">
			<nav class="breadcrumb bg-light mb-30">
				<a class="breadcrumb-item text-dark" asp-action="Index" asp-controller="Home">Home</a>
				<a class="breadcrumb-item text-dark" asp-action="Index" asp-controller="Shop">Shop</a>
				<span class="breadcrumb-item active">Shop List</span>
			</nav>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
	<div class="row px-xl-5">

		<div class="col-lg-3 col-md-4">
            
			<!-- Shop Sidebar Start -->
			@await Component.InvokeAsync("Categories")
			@await Component.InvokeAsync("Brand")
			<!-- Size End -->
		</div>
		<!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
				@RenderBody()
               
            </div>
        </div>
        <!-- Shop Product End -->
	</div>
</div>
<!-- Shop End -->
